[submodule "eid-oidc-provider"]
	path = eid-oidc-provider
	url = https://github.com/jetcar/eid-oidc-provider.git
[submodule "eid-mock"]
	path = eid-mock
	url = https://github.com/jetcar/eid-mock.git
[submodule "oidc-test"]
	path = oidc-test
	url = https://github.com/jetcar/oidc-test.git
[submodule "eid-auth-ui"]
	path = eid-auth-ui
	url = https://github.com/jetcar/eid-auth-ui.git
