version: '3.8'
services:
  haproxy:
    image: haproxy:latest
    container_name: haproxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
      - ./haproxy-certs:/etc/haproxy/certs:ro
  eid-oidc-provider:
    build:
      context: ./eid-oidc-provider
    container_name: eid-oidc-provider
    ports:
      - "8443:8443"
      - "5005:5005"
    volumes:
      - ./eid-oidc-provider/src/main/resources:/app/resources
      - ./eid-oidc-provider/config:/app/config:ro
    environment:
      - JAVA_OPTS=-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005
      - REDIS_HOST=redis
      - CONFIG_PATH=/app/config
      - SERVER_PORT=8443
      - SSL_ENABLED=true
      - OIDC_CLIENTS_CONFIG=/app/config/oidc-clients.json
      - SSL_KEYSTORE_PATH=/app/config/keystore.p12
      - KEY_STORE_PASSWORD=changeit
      - OIDC_ISSUER=https://eid-oidc-provider
      - LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_BOOT_AUTOCONFIGURE=DEBUG
      - SMARTID_HOST_URL=https://eid-mock:8083
      - MID_TRUST_STORE_PATH=/app/config/smartid_mock_docker.p12
      - MID_TRUST_STORE_PASSWORD=changeit
      - MID_API_TRUST_STORE_PATH=/app/config/smartid_mock_docker.p12
      - MID_API_TRUST_STORE_PASSWORD=changeit
      - SMARTID_TRUST_STORE_PATH=/app/config/smartid_mock_docker.p12
      - SMARTID_TRUST_STORE_PASSWORD=changeit
      - SMARTID_API_TRUST_STORE_PATH=/app/config/smartid_mock_docker.p12
      - SMARTID_API_TRUST_STORE_PASSWORD=changeit
      - WEBEID_CA_KEYSTORE_PATH=/app/config/smartid_mock_docker.p12
      - WEBEID_CA_KEYSTORE_PASSWORD=changeit
    depends_on:
      redis:
        condition: service_healthy
      eid-mock:
        condition: service_started
  oidc-test:
    build:
      context: ./oidc-test
    container_name: oidc-test
    ports:
      - "8082:8082"
      - "5006:5006"
    volumes:
      - ./oidc-test/src/main/resources:/app/resources
      - ./oidc-test/config:/app/config:ro
    environment:
      - JAVA_OPTS=-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5006
      - CONFIG_PATH=/app/config
      - SERVER_PORT=8082
      - SSL_ENABLED=true
      - SSL_KEYSTORE_PATH=/app/config/keystore.p12
      - KEY_STORE_PASSWORD=changeit
      - OIDC_AUTHORIZATION_URI=https://localhost/eid-oidc-provider/authorize
      - OIDC_TOKEN_URI=https://eid-oidc-provider:8443/token
      - OIDC_USERINFO_URI=https://eid-oidc-provider:8443/userinfo
      - OIDC_JWKS_URI=https://eid-oidc-provider:8443/.well-known/jwks.json
  eid-mock:
    build:
      context: ./eid-mock
    container_name: eid-mock
    ports:
      - "8083:8083"
      - "5007:5007"
    volumes:
      - ./eid-mock/config:/app/config:ro
    environment:
      - JAVA_OPTS=-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5007
      - CONFIG_PATH=/app/config
      - SERVER_PORT=8083
      - SSL_ENABLED=true
      - SSL_KEYSTORE_PATH=/app/config/keystore_docker.p12
      - KEY_STORE_PASSWORD=changeit
      - REDIS_HOST=redis
      - CA_KEYSTORE_PATH=/app/config/smartid_mock.p12
      - CA_KEYSTORE_PASSWORD=changeit
      - CA_KEYSTORE_ALIAS=smartid-mock-ca
    depends_on:
      redis:
        condition: service_healthy

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 5

volumes:
  maven-cache-eid-oidc-provider:
  maven-cache-oidc:
  maven-cache-eid-mock:


